<%- include ../layouts/header.ejs %>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><%= title %></div>
            <div class="panel-body">
                <form class="form-horizontal" action="/animal/add" method="POST">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="nom">Nom Animal</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="nom" id="nom" placeholder="Entrez nom Animal">
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="age">Age Animal</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="age" id="age" placeholder="Entrez l'age de l'animal">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="poids">Poids Animal</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="poids" id="poids" placeholder="Entrez le poids de l'animal">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="regne">Regne Animal</label>
                        <div class="col-sm-10">
                          <select class="form-control" name="regne" id="regne">
                                <option value="">Select Regne</option>
                            <% if (regnes) { %>
                                <% regnes.forEach(function(regne){ %>
                                    <option value="<%= regne.idRegne %>"><%= regne.nomregne %> (<%= regne.provenance %>) </option>
                                <% }) %>
                            <% } %>         
                            
                          </select>
                        </div>
                    </div>
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Insérer</button>
                        <a href="/animal"><button type="button" class="btn btn-default">Annuler</button></a>
                      </div>
                    </div>
                  </form>
            </div>
        </div>

    </div>
</div>

<%- include ../layouts/footer.ejs %>