<%- include ../layouts/header.ejs %>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><%= title %><a href="/animal/add" class= "pull-right"><i class="fa fa-plus fa-fw"></i>Inscrire un Animal</a></div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nom de l'animal</th>
                            <th>Age de l'animal</th>
                            <th>Poids de l'animal (en KG)</th>
                            <th>Règne animal</th>
                            <th>Provenance animal</th>
                            <th>Espace Vital animal</th>
                            <th>Nom propriétaire</th>
                            <th>EDIT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (animals) { %>
                        <% animals.forEach(function(animal){ %>
                       <tr>
                            <td>
                                <%= animal.nom %>
                            </td>
                            <td>
                                <%= animal.age %>
                            </td>
                            <td>
                                <%= animal.poids %>
                            </td>
                            <td>
                                <%= animal.nomregne %>
                            </td>
                            <td>
                                <%= animal.provenance %>
                            </td>
                            <td>
                                <%= animal.espace %>
                            </td>
                            <td>
                                <%= animal.login %>
                            </td>
                            <td>
                                <% console.log("ID:"+animal.idAnimal); %>
                                <a href="/animal/edit/<%= animal.idAnimal %>"><i class="fa fa-edit"></i></a> 
                            </td>
                            <td>
                            <div class="form-group"> 
                                <div class="col-sm-offset-2 col-sm-10">
                                  <a href="/animal/delete/<%= animal.idAnimal %>"><button type="button" class="btn btn-default">delete</button></a>
                                </div>
                              </div>
                            </td>
                        </tr>
                        <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<%- include ../layouts/footer.ejs %>